force-app/main/default/flows/Alert_Detection_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Daily alert detection for Weekly Department PL and Product Sales records</description>
    <label>Daily Alert Detection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Todays_PL_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-03-11</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <recordLookups>
        <name>Get_Todays_PL_Records</name>
        <label>Get Today's PL Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PL_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Weekly_Department_PL__c</object>
        <outputReference>plRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Store__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Waste_Rate__c</queriedFields>
        <queriedFields>Loss_Rate__c</queriedFields>
        <queriedFields>Gross_Profit_Margin__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Todays_Sales_Records</name>
        <label>Get Today's Sales Records</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Weekly_Product_Sales__c</object>
        <outputReference>salesRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Loss_Rate__c</queriedFields>
        <queriedFields>YoY_Ratio__c</queriedFields>
    </recordLookups>
    <variables>
        <name>plRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Weekly_Department_PL__c</objectType>
    </variables>
    <variables>
        <name>salesRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Weekly_Product_Sales__c</objectType>
    </variables>
    <actionCalls>
        <name>Check_PL_Alerts</name>
        <label>Check PL Alerts</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <actionName>AlertService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Todays_Sales_Records</targetReference>
        </connector>
        <inputParameters>
            <name>plRecords</name>
            <value>
                <elementReference>plRecords</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Sales_Alerts</name>
        <label>Check Sales Alerts</label>
        <locationX>176</locationX>
        <locationY>482</locationY>
        <actionName>AlertService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>salesRecords</name>
            <value>
                <elementReference>salesRecords</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <status>Active</status>
</Flow>
