force-app/main/default/flows/Comment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Send notification when a new comment is added to a store review</description>
    <label>Comment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Store_Review</targetReference>
        </connector>
        <object>Review_Comment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <recordLookups>
        <name>Get_Store_Review</name>
        <label>Get Store Review</label>
        <locationX>176</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store_Review__c</elementReference>
            </value>
        </filters>
        <object>Store_Review__c</object>
        <outputAssignments>
            <assignToReference>storeReviewVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>supervisorId</assignToReference>
            <field>Supervisor__c</field>
        </outputAssignments>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supervisor__c</queriedFields>
        <queriedFields>Store__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Store</name>
        <label>Get Store</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeReviewVar.Store__c</elementReference>
            </value>
        </filters>
        <object>Store__c</object>
        <outputAssignments>
            <assignToReference>storeVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>176</locationX>
        <locationY>324</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>supervisorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>新しいコメント: {!storeVar.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>店舗レビューに新しいコメントが追加されました。

店舗: {!storeVar.Name}
コメント: {!$Record.Comment__c}
コメント者: {!$Record.Commenter__c}

詳細を確認するには、Salesforceにログインしてください。</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <variables>
        <name>storeReviewVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store_Review__c</objectType>
    </variables>
    <variables>
        <name>storeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store__c</objectType>
    </variables>
    <variables>
        <name>supervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <status>Active</status>
</Flow>
